body {
    width: 800px;
}

.pochylony {
    font-style: italic;
}

#menu {
    float: left;
    width: 320px;

}

#tresc {
    float: left;
    width: 480px;
}
li {
    list-style: none;
    margin-left: -40px;
}
